[Unit]
Description=Vector service
After=network.target
[Service]
User={{ ansible_user_id }}
Group={{ ansible_user_gid }}
ExecStart=/tmp/vector/bin/vector --config /tmp/vector/config/vector.toml
Restart=always
[Install]
WantedBy=multi-user.target